/** The drop icon outer circle */

.ngflowchart-step-wrapper[ngflowchart-drop-hover]::after {
    background: #a3e798 !important;
}


/** The drop icon inner circle */

.ngflowchart-step-wrapper[ngflowchart-drop-hover]::before {
    background: #4cd137 !important;
}


/** The arrow paths and arrow head */

.ngflowchart-arrow {
    & #arrowhead {
        fill: darkgrey;
    }
    & #arrowpath {
        stroke: darkgrey;
    }
}